<?xml version="1.0"?>
<configuration>
  <location path="." inheritInChildApplications="false">
  <connectionStrings>
    <add name="CouncilorCaseConnectionString" connectionString="Data Source=KAI-PC\SQLEXPRESS;Initial Catalog=CouncilorITC;User ID=talll;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="ITCindexConnectionString" connectionString="Data Source=KAI-PC\SQLEXPRESS;Initial Catalog=ITCindex;User ID=talll;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="identityAuthority" path="*.html" verb="*" type="KaiNamespace.IdentityAuthority"/>
      <add name="notEnter" path="json/*" verb="*" type="KaiNamespace.NotEnter"/>
    </handlers>
    <modules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="../login" responseMode="Redirect"/>
    </httpErrors>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2"/>
    </staticContent>
  </system.webServer>
  </location>
</configuration>